includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: max
    paths:
        - tests
    autoload_directories:
    		- tests
    autoload_files:
    		- %rootDir%/../../../tests/SitemapTestsAssets/InvalidXMLWriter.php
